* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}

.container .header {
  background-color: #000;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.container .header .logo {
  height: 32px;
}

.container .header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.container .header .nav img {
  height: 26px;
}

.container .header .nav a {
  color: #f6f6f6;
  font-weight: 300;
}

.container .menu {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 50px;
}

.container .menu ul li {
  list-style: none;
  display: inline-block;
  font-size: 20px;
  margin-right: 20px;
  padding-bottom: 4px;
  position: relative;
}

.container .menu ul li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #000;
  transition: 0.5s;
}

.container .menu ul li:hover::after {
  width: 100%;
  transition: 0.5s;
}

.container .menu ul li a {
  color: #000;
}

.container .banner {
  height: 530px;
  background: url("/assets/img/c714162af9ebca7dbf6f82f47b04b073782bb7fb.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.container .banner .carousel {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .banner .carousel .info h1 {
  font-size: 40px;
  font-weight: 300;
}

.container .banner .carousel .info p {
  font-size: 20px;
  margin: 10px 0;
}

.container .banner .carousel .info .banner-button {
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  background-color: #F8B653;
  border: none;
  cursor: pointer;
}

.container .product-section h1 {
  text-align: center;
  margin: 30px 0;
  font-size: 40px;
  font-weight: 300;
}

.container .product-section .products {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container .product-section .products .prod-card {
  width: 30%;
  border: solid black 1px;
  background-color: #F8F8F8;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.container .product-section .products .prod-card .prod-img {
  height: 250px;
  width: 220px;
  align-self: center;
  justify-self: center;
  padding: 15px 0;
}

.container .product-section .products .prod-card .prod-img img {
  width: 100%;
}

.container .product-section .products .prod-card .prod-card-body {
  padding: 7px 15px;
}

.container .product-section .products .prod-card .prod-card-body .prod.name {
  font-size: 24px;
  font-weight: 300;
  line-height: 100%;
}

.container .product-section .products .prod-card .prod-card-body .prod.desc {
  font-size: 20px;
  font-weight: 300;
  color: #cbc9c9;
}

.container .product-section .products .prod-card .prod-card-footer {
  height: 64px;
  display: flex;
}

.container .product-section .products .prod-card .prod-card-footer .prod-buynow-btn {
  font-size: 24px;
  font-weight: 200;
  color: #000;
  background-color: #E1B067;
  flex-grow: 1;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.container .product-section .products .prod-card .prod-card-footer .prod-price {
  height: 100%;
  flex-grow: 1;
  background-color: #DEDDDC;
  font-size: 24px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .footer img {
  width: 100%;
}

.container .prod-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto;
  width: 85%;
}

.container .prod-detail .prod-img {
  background-color: #F8F8F8;
  margin: 0 50px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .prod-detail .prod-img img {
  width: 100%;
}

.container .prod-detail .detail-info {
  width: 60%;
}

.container .prod-detail .detail-info .prod-name {
  font-size: 30px;
  font-weight: 300;
}

.container .prod-detail .detail-info .prod-longDesc {
  margin: 10px 0;
  font-weight: 400;
}

.container .prod-detail .detail-info .avail-title {
  font-size: 24px;
  font-weight: 500;
  color: #1ED90E;
}

.container .prod-detail .detail-info .avail-size {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.container .prod-detail .detail-info .avail-size li {
  width: 50px;
  height: 50px;
  font-size: 24px;
  font-weight: 600;
  background-color: #CCCCCC;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .prod-detail .detail-info .prod-price {
  font-size: 30px;
  font-weight: 600;
  color: #FC0303;
}

.container .prod-detail .detail-info .quantity-choose {
  margin: 20px 0;
}

.container .prod-detail .detail-info .quantity-choose .plus-minus {
  width: 50px;
  height: 50px;
  font-size: 30px;
  color: #fff;
  background: linear-gradient(0deg, #6181f3 50%, #7c97f5 100%);
  border: none;
  cursor: pointer;
}

.container .prod-detail .detail-info .quantity-choose .choose {
  font-size: 30px;
  margin: 0 20px;
}

.container .prod-detail .detail-info .btnAddToCart {
  width: 175px;
  height: 64px;
  border: none;
  font-size: 24px;
  color: #fff;
  background: linear-gradient(-90deg, rgba(62, 32, 248, 0.9) 50%, #d017ee 100%);
  cursor: pointer;
}
/*# sourceMappingURL=detail.css.map */