* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}

.container .header {
  background-color: #000;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.container .header .logo {
  height: 32px;
}

.container .header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.container .header .nav img {
  height: 26px;
}

.container .header .nav a {
  color: #f6f6f6;
  font-weight: 300;
}

.container .menu {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 50px;
}

.container .menu ul li {
  list-style: none;
  display: inline-block;
  font-size: 20px;
  margin-right: 20px;
  padding-bottom: 4px;
  position: relative;
}

.container .menu ul li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #000;
  transition: 0.5s;
}

.container .menu ul li:hover::after {
  width: 100%;
  transition: 0.5s;
}

.container .menu ul li a {
  color: #000;
}

.container .banner {
  height: 530px;
  background: url("/assets/img/c714162af9ebca7dbf6f82f47b04b073782bb7fb.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.container .banner .carousel {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .banner .carousel .info h1 {
  font-size: 40px;
  font-weight: 300;
}

.container .banner .carousel .info p {
  font-size: 20px;
  margin: 10px 0;
}

.container .banner .carousel .info .banner-button {
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  background-color: #F8B653;
  border: none;
  cursor: pointer;
}

.container .product-section h1 {
  text-align: center;
  margin: 30px 0;
  font-size: 40px;
  font-weight: 300;
}

.container .product-section .products {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container .product-section .products .prod-card {
  width: 30%;
  border: solid black 1px;
  background-color: #F8F8F8;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.container .product-section .products .prod-card .prod-img {
  height: 250px;
  width: 220px;
  align-self: center;
  justify-self: center;
  padding: 15px 0;
}

.container .product-section .products .prod-card .prod-img img {
  width: 100%;
}

.container .product-section .products .prod-card .prod-card-body {
  padding: 7px 15px;
}

.container .product-section .products .prod-card .prod-card-body .prod.name {
  font-size: 24px;
  font-weight: 300;
  line-height: 100%;
}

.container .product-section .products .prod-card .prod-card-body .prod.desc {
  font-size: 20px;
  font-weight: 300;
  color: #cbc9c9;
}

.container .product-section .products .prod-card .prod-card-footer {
  height: 64px;
  display: flex;
}

.container .product-section .products .prod-card .prod-card-footer .prod-buynow-btn {
  font-size: 24px;
  font-weight: 200;
  color: #000;
  background-color: #E1B067;
  flex-grow: 1;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.container .product-section .products .prod-card .prod-card-footer .prod-price {
  height: 100%;
  flex-grow: 1;
  background-color: #DEDDDC;
  font-size: 24px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .footer img {
  width: 100%;
}

.container .register h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  padding: 30px 0;
}

.container .register .reg-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 50px;
}

.container .register .reg-form .tag-input {
  width: 45%;
  height: 50px;
  margin-bottom: 20px;
  font-size: 20px;
  position: relative;
}

.container .register .reg-form .tag-input input {
  width: 100%;
  border: none;
  border-bottom: solid #AE18E2 5px;
  height: 50px;
  margin-bottom: 20px;
  font-size: 30px;
  outline: none;
}

.container .register .reg-form .tag-input::after {
  content: '(*)';
  position: absolute;
  color: red;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
}

.container .register .reg-form .tag-input .input-feedback {
  position: absolute;
  bottom: -20px;
  left: 0;
  font-size: 14px;
  z-index: 10;
  color: red;
}

.container .register .reg-form .radio-group {
  width: 35%;
  margin: auto;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.container .register .reg-form .radio-group input {
  width: 25px;
  height: 25px;
  accent-color: #AE18E2;
}

.container .register .reg-form .radio-group .input-feedback {
  position: absolute;
  bottom: -15px;
  left: 0;
  font-size: 14px;
  z-index: 10;
  color: red;
}

.container .register .btnSubmit {
  width: 300px;
  height: 50px;
  margin: 30px auto;
  display: block;
  background-color: #AE18E2;
  border: none;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}
/*# sourceMappingURL=register.css.map */