@import './index.scss';

.container {

    .prod-detail {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px auto;
        width: 85%;

        .prod-img {
            background-color: #F8F8F8;
            margin: 0 50px;
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
            }
        }

        .detail-info {
            width: 60%;

            .prod-name {
                font-size: 30px;
                font-weight: 300;
            }

            .prod-longDesc {
                margin: 10px 0;
                font-weight: 400;
            }

            .avail-title {
                font-size: 24px;
                font-weight: 500;
                color: #1ED90E;
            }

            .avail-size {
                list-style: none;
                display: flex;
                gap: 20px;
                margin: 20px 0;

                li {
                    width: 50px;
                    height: 50px;
                    font-size: 24px;
                    font-weight: 600;
                    background-color: #CCCCCC;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .prod-price {
                font-size: 30px;
                font-weight: 600;
                color: #FC0303;
            }

            .quantity-choose {
                margin: 20px 0;

                .plus-minus {
                    width: 50px;
                    height: 50px;
                    font-size: 30px;
                    color: #fff;
                    background: linear-gradient(0deg, rgba(97, 129, 243, 1) 50%, rgba(124, 151, 245, 1) 100%);
                    border: none;
                    cursor: pointer;
                }

                .choose {
                    font-size: 30px;
                    margin: 0 20px;
                }
            }

            .btnAddToCart {
                width: 175px;
                height: 64px;
                border: none;
                font-size: 24px;
                color: #fff;
                background: linear-gradient(-90deg, rgba(62, 32, 248, 0.9) 50%, rgba(208, 23, 238, 1) 100%);
                cursor: pointer;
                ;
            }
        }
    }
}