@import './index.scss';

.container {

    .register {
        h1 {
            text-align: center;
            font-size: 40px;
            font-weight: 400;
            padding: 30px 0;
        }

        .reg-form {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0 50px;

            .tag-input {
                width: 45%;
                height: 50px;
                margin-bottom: 20px;
                font-size: 20px;
                position: relative;

                input {
                    width: 100%;
                    border: none;
                    border-bottom: solid #AE18E2 5px;
                    height: 50px;
                    margin-bottom: 20px;
                    font-size: 30px;
                    outline: none;
                }

                &::after {
                    content: '(*)';
                    position: absolute;
                    color: red;
                    top: 0;
                    right: 0;
                    width: 20px;
                    height: 20px;
                }

                .input-feedback {
                    position: absolute;
                    bottom: -20px;
                    left: 0;
                    font-size: 14px;
                    z-index: 10;
                    color: red;
                }
            }

            .radio-group {
                width: 35%;
                margin: auto;
                font-size: 30px;
                display: flex;
                justify-content: space-between;
                position: relative;

                input {
                    width: 25px;
                    height: 25px;
                    accent-color: #AE18E2;
                }

                .input-feedback {
                    position: absolute;
                    bottom: -15px;
                    left: 0;
                    font-size: 14px;
                    z-index: 10;
                    color: red;
                }

            }
        }

        .btnSubmit {
            width: 300px;
            height: 50px;
            margin: 30px auto;
            display: block;
            background-color: #AE18E2;
            border: none;
            font-size: 30px;
            font-weight: 400;
            color: #fff;
            cursor: pointer;
        }
    }
}